body {
  background:rgb(244, 248, 249);
  padding: 10px;
  font-family: helvetica;
}
.wrapper{
  background:rgb(255, 255, 255);
  border:2px solid rgb(225, 232, 237);
  border-radius: 4px;
  padding:10px;
  overflow: auto;
}
a {
  text-decoration: none;
}
.containerTop .containerBottom{
  display: flex;
  flex-direction: row;
}
.items{
  display: flex;
  flex-direction: row;
}
.accountContent{
  display: flex;
  flex-direction: column;
}
.accountInfo{
  display: flex;
  flex-direction: row;
}
.accountRef {
  color:rgb(104, 109, 129);
}
.accountName {
  color:rgb(0, 0, 0);
}
.followButton{
  display: flex;
  flex-direction: row;
}
.containerBottom{
  display: flex;
  flex-direction: column;
}
.topContent{
  color:rgb(0, 0, 0);
}
.midContent{
  color:rgb(104, 109, 129);
}
.bottomContent{
  display: flex;
  flex-direction: row;
}
