body {
  background:rgb(244, 248, 249);
  padding: 10px;
  font-family: helvetica;
}
.wrapper{
  background:rgb(255, 255, 255);
  border:2px solid rgb(225, 232, 237);
  border-radius: 4px;
  padding:10px;
  overflow: auto;
}
a {
  text-decoration: none;
}
.containerTop.containerBottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.items{
  display: flex;
  flex-direction: row;
}
.profilePicture{
  flex-basis: 72px;
  padding: 10px;
}
.accountContent{
  display: flex;
  flex-direction: column;
  flex-basis: 82%;
  padding: 10px;
}
.accountInfo{
  display: flex;
  flex-direction: row;
}
.accountRef {
  color:rgb(104, 109, 129);
  font-size: 24px;
}
.accountName {
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin: 0 10px 0 10px;
}
.accountBottomInfo{
  display: flex;
  align-self: flex-start;
}
.followButtonContainer{
  padding: 10px;
  flex-basis: 160px;
  justify-content: center;
}
.followButton{
  display: flex;
  flex-direction: row;
  border: solid 2px rgb(85, 172, 238);
  border-radius: 10px;
  padding: 10px;
  height: 30px;
}
.followButton a{
  color: rgb(85, 172, 238);
  font-size: 23px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.containerBottom{
  display: flex;
  flex-direction: column;
}
.topContent{
  color:rgb(0, 0, 0);
}
.midContent{
  color:rgb(104, 109, 129);
}
.bottomContent{
  display: flex;
  flex-direction: row;
}
