body {
  height: auto;
  width: auto;
  background:rgb(244, 248, 249);
  padding: 10px;
  font-family: helvetica;
}
img{
  display:block;
}
a:link{
  text-decoration: none;
}
.accountName{
  color:rgb(0, 0, 0);
}
.wrapper{
  background:rgb(255, 255, 255);
  border:2px solid rgb(225, 232, 237);
  border-radius: 4px;
  padding:10px;
  overflow: auto;
}
#tweet-upper-list{
  overflow: auto;
}
#tweet-upper-list>li{
   float:left;
   padding:0px 5px 0px 5px;
   list-style: none;
}
#tweet-upper-list>li:nth-child(1)
{
  margin-right: 20px;
}
#tweet-upper-list>li:nth-child(5)
{
  float:right;
}
#tweet-upper-list>li h1{
   position: relative;
   bottom: 25px;
}
.follow-box{
  border: 2px solid rgb(85, 172, 238);
  border-radius: 4px;
  width: 100%;
  position: relative;
  right: 40px;
  padding: 0px 0px 0px 15px;
}
#tweet{
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  position: relative;
  top: -9px;
}
#followButton {
  padding: 5.5px 6px 6.5px 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: rgb(85, 172, 238);
  position: relative;
  top: 14px;
  left: 5px;
}
.accountRef{
  position: relative;
  top: 12px;
  right: 136px;
  font-size: 25px;
  color: rgb(101, 116, 127);
}
.midContainer{
  width: 50%;
  position: relative;
  top: -18px;
}
.text{
  position: relative;
  left: 40px;
  padding: 5px;
  font-size: 32px;
}
.date{
  position: relative;
  color: rgb(101, 116, 127);
  left: 40px;
  padding: 5px;
  font-size: 28px;
  top: -30px;
}
#tweet-lower-list{
  height: 100%;
  position: relative;
  top: -10px;
}
#tweet-lower-list>li{
  float: left;
  padding: 0px 14px 0px 5px;
  list-style: none;
  color: rgb(101, 116, 127);
  font-size: 24px;
}
#tweet-lower-list>li:nth-child(2n)
{
  margin-left: 20px;
}
